<div class="main">
  <div class="inner">
    <div class="form__wrapper">
    <% if user_signed_in? && current_user.id == @prototype.user_id %>
      <h2 class="page-heading">プロトタイプ編集</h2>
      <%# 部分テンプレートでフォームを表示する %>
      <%= render partial: "form", locals: {prototype: @prototype} %>
    <% end %>
    </div>
  </div>
</div>