<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%# 部分テンプレートでフォームを表示する %>
        <%= render partial: "form", locals: {prototype: @prototype} %>
        <%#% partialで部分テンプレート名を指定,localsで部分テンプレート内でprototypeの変数が使える。%>
    </div>
  </div>
</div>